.select {
  // opacity: 0;
  display: none;
  position: absolute;
  left: 50%;
  width: 340px;
  height: 55px;
  background-color: #fffdf2;
  box-shadow: 0 1px 3px rgba(69, 63, 36, 0.4);
  -webkit-appearance: none;
  background-image: url('../img/array.png');
  background-position: right center;
  background-repeat: no-repeat;
  line-height: 1em;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px; 
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none!important;
  border: 0;
}
 
.select::-ms-expand {
  display: none;
}

.wrap_select {
  width: 340px;
}

.llist {
  width: 340px;
  background: #fffbea;
  
  &_item {
    display: block;
    position: relative;
    width: 340px;
    height: 55px;
    background-color: #fffdf2;
    box-shadow: 0 1px 3px rgba(69, 63, 36, 0.4);
    background-image: url('../img/array-two.png');
    background-position: right -55px;
    background-repeat: no-repeat;
    cursor: pointer;
    &__mod {
      background-position: right 0;
    }
    &_text{
      display: block;
      width: 100%;
      height: 100%;
      padding: 20px 0 20px 20px;
      height: 19px;
      color: black;
      font-family: 'HelveticaNeueCyr-LightItalic';
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
    }
  }
}

.sub-list {
  display: none;
  position: absolute;
  width: 100%;
  background: #fffbea;
  &_item {
    margin-top: -3px;
    margin-bottom: 2px;
    padding-left: 19px;
    line-height: 48px;
    font-size: 20px;
    font-family: 'HelveticaNeueCyr-Bold';
    font-weight: bold;
    border: 1px solid #eae7dc;
    &:hover {
      background: #ffd800;
      color: white;
    }
  }
}
